.header {
  width: var(--content-width);
  
  display: table;
  flex-direction: row;

  user-select: none;
}

.header * {
  margin: 0;
}

.left_float {
  display: flex;
  flex-direction: row;
  align-items: start;

  float: left;
}

.left_float > * {
  margin-right: 15px;
}

.right_float {
  display: flex;
  flex-direction: row;
  align-items: end;

  float: right;
}

.right_float > * {
  margin-left: 10px;
}